.shoping-list_section {
    margin-top: 20px;
}
.shoping_item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.226);
        border-radius: 10px;
        padding: 20px 30px 20px 10px;
        margin-bottom: 20px;
        position: relative;
        right: 0;
        transition: 0.3s linear;
    }
.item_product {
    width: 60%;
}
.check {
    background-color: rgba(255, 255, 255, 0.534);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_delete_btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 1;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.233);
}