<div class="container">
  <form action="submit" class="form">
    <input
      type="text"
      placeholder="Хто ти? Ти рижа мавпа?"
      name="name"
      class="input_name"
    />
    <input
      type="number"
      name="amount"
      step="0.01"
      min="0"
      required
      class="input_amount"
      placeholder="0 - це зарплата Сашки)"
    />
    <input
      type="text"
      name="description"
      class="rec_description"
      placeholder="Введіть опис"
    />

    <div class="btn_wrap">
      <button type="submit" class="form_btn submit_btn">Заєбісь</button>
      <button type="reset" class="form_btn reset_btn">Ну нахуй</button>
    </div>
  </form>
</div>
