<div class="container">
  <form action="submit" class="form">
    <select name="name" class="select_name">
      <option disabled selected>Хто ти? Я рижа мавпа...</option>
      <option value="Саша">Саша</option>
      <option value="Даша">Даша</option>
      <option value="Віка">Віка</option>
      <option value="Юля">Юля</option>
    </select>
    <input
      type="number"
      name="amount"
      step="0.01"
      min="0"
      required
      class="input_amount"
      placeholder="0 - це зарплата Сашки)"
    />
    <input
      type="text"
      name="description"
      class="rec_description"
      placeholder="Шо взяв?"
    />

    <div class="btn_wrap">
      <button type="submit" class="form_btn submit_btn">Заєбісь</button>
      <button type="reset" class="form_btn reset_btn">Ну нахуй</button>
    </div>
  </form>
</div>
