<section class="shoping-list_section hidden_section" data-mark="shoping">
  <div class="container">
    <form action="submit" class="shoping_form">
      <input
        type="text"
        class="shoping_input"
        placeholder="Шо хочеш?"
        name="product"
      />
      <button type="submit" class="shoping_form_btn">Тиць</button>
    </form>
    <ul class="shoping_list">
      <li class="shoping_item">
        <p class="item_product">Пучок укропу</p>
        <div class="check">V</div>
        <p class="item_date">03 Nov</p>
        <button class="item_delete_btn">X</button>
      </li>
    </ul>
  </div>
</section>
